.footer {
  margin-top: 51px;
  margin-bottom: 60px;
}

.footer__copyright {
  color: #545454;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 480px) {
  .footer {
    margin: 0;
    margin-top: 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
