.header {
  margin-top: 45px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(54, 54, 54, 70%);
  padding-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    margin: 0;
    margin-left: 8px;
    padding: 0;
    height: 56px;
  }

  .header__logo {
    height: 24px;
    width: 126px;
  }
}
